header {
    height: 65px;
    width: 100%;
    background-color: #f6e58d;
    position: fixed;
    top: 0px;
}

.header_left {
    float: left;
}

.header_right {
  float: right;  
  margin-right: 5%;
}

li{
    list-style: none;
    float: left;
    padding: 10px 15px;
    font-family: 'Franklin Gothic Medium';
}

.logo {
    width: 80px;
    margin-top: 4px;
    margin-left: 50px;
}

