header {
    height: 65px;
    width: 100%;
    background-color: #f6e58d;
}



li{
    list-style: none;
    float: left;
    padding: 10px 15px;
    font-family: 'Franklin Gothic Medium';
}

.logo {
    width: 80px;
    margin-top: 10px;
}

